In [1]:
#fundemntal data types
int
float
bool
str
list
tuple
set
dict

dict

In [16]:
# operators
""" + 
- 
*
/
%
//
** """

print (9/2)

4.5

In [46]:
#comparison 
""">
<
==
!=
>=
<="""

'>\n<\n==\n!=\n>=\n<='

In [22]:
#escape sequences

# \t,\n, \
print ("My name is \n Ramy")

My name is
 Ramy

In [37]:
#slicing
str2 = "Rami"
print(str2[3])
print (str2[0:4:2]) # [start:stop:stepover]
str2 = str2+ "e"
print(str2)

i
Rm
Ramie

In [42]:
#lists
list1 = [3,3.5, 'Python', 0]
print(list1)
print(list1[0:2])
list1[3] = "changed"
print(list1)

[3, 3.5, 'Python', 0]
[3, 3.5]
[3, 3.5, 'Python', 'changed']

In [45]:
mulutidimensional_list = [[1,2,3], [[3,4], 6], [5]]
print(mulutidimensional_list[2])

[5]

In [1]:
#input func
print("what is it ?")
name = input()
print("it is " + name + ", \n welcome")

what is it ?
it is ,
 welcome

In [3]:
#Tuple
tuple1 = ("se", "Ba", "ch")
print(tuple1)

('se', 'Ba', 'ch')

In [9]:
#set
set1 = {"r", "ea", "sdw"}
for i in set1:
    print(i)

sdw
ea
r

In [15]:
#dic for reteriving data, you make your own index
dictionary = {"name" : "rami", "age" : 30, "work" : "student"}
print(dictionary)
dictionary["birth"] = 1995
dictionary

{'name': 'rami', 'age': 30, 'work': 'student'}

{'name': 'rami', 'age': 30, 'work': 'student', 'birth': 1995}

In [13]:
dictionary["name"]

'rami'